@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RefDef Project</h1>
    <p>Click the button below to view the book list.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Books" asp-action="Index">Go to Book List</a>
</div>
